@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    min-height: 100vh;
    background-color: #f2f2f2;
}

.loginContainer,
.dashboardContainer {
    flex: 1;
    width: 500px;
    padding: 40px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

h1 {
    background: linear-gradient(to right, #b22222, #8b0000);
    color: white;
    padding: 12px 24px;
    border-radius: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    margin-top: 0;
}

p {
    line-height: 1.6em;
}

#loginForm,
#registerForm {
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: left;
}

input {
    margin-bottom: 10px;
    margin-top: 5px;
}

.btnContainer {
    text-align: center;
    margin: 20px;
}

button {
    background-color: #b22222;
    color: white;
    border: none;
    padding: 4px 8px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #800000;
}

#loginMessage,
#registerMessage {
    font-weight: bold;
    margin-bottom: 10px;
}

#loginMessage p,
#registerMessage p {
    line-height: 1.0em;
}

nav ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 0;
    list-style: none;
}

li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: block;
    text-align: center;
    letter-spacing: 0.1em;
}

li {
    background-color: #e2cbab;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    flex: 1;
}

li:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

nav {
    width: 100%;
}