@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    min-height: 100vh;
    background-color: #f2f2f2;
}

main {
    max-width: 800px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.loginContainer,
.dashboardContainer,
.menuItemContainer {
    flex: 1;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginContainer,
.dashboardContainer {
    margin-top: 150px;
    padding: 40px;
}

h1 {
    background: linear-gradient(to right, #b22222, #8b0000);
    color: #fff;
    padding: 12px 24px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    margin-top: 0;
    text-align: center;
}

h2 {
    margin-bottom: 30px;
}

.menuHeader {
    width: 100%;
    margin: 20px 0 0 0;
}

p {
    line-height: 1.6em;
}

#loginForm,
#registerForm,
#menuItemForm {
    display: flex;
    flex-direction: column;
    width: 60%;
    text-align: left;
}

input,
select {
    margin: 5px 0 10px 0;
}

.editOrderForm input {
    width: 95%;
}

.btnContainer {
    text-align: center;
    margin: 20px 0;
}

button {
    background-color: #b22222;
    color: #fff;
    border: none;
    padding: 4px 8px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #800000;
}

#logoutButton {
    margin-top: 40px;
}

#loginMessage,
#registerMessage,
#errorMessage,
#message {
    font-weight: bold;
    margin-bottom: 10px;
}

#loginMessage p,
#registerMessage p {
    line-height: 1;
}

.navMenu {
    width: 100%;
}

.navMenu ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 0;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
}

.navMenu li {
    background-color: #e2cbab;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    flex: 1;
    margin-top: 10px;
    margin-bottom: 20px;
}

.navMenu li:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.navMenu li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: block;
    text-align: center;
    letter-spacing: 1px;
}

#menuContainer,
#orderContainer {
    margin-bottom: 20px;
}

.menuSection {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.menuTitle {
    width: 100%;
    color: #8b0000;
    font-size: 1.8em;
    text-align: left;
    border-bottom: 2px solid #b22222;
    padding-bottom: 5px;
    font-size: 1.8em;
    margin-bottom: 0;
    margin-top: 25px;
}

.menuItem {
    width: calc(50% - 10px);
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    box-sizing: border-box;
}

.menuItem button {
    margin-right: 10px;
    margin-top: 15px;
}

#cancelBtn {
    display: none;
}

#errorMessage,
#menuContainer {
    flex-basis: 100%;
}

@media screen and (max-width : 500px) {

    #loginForm,
    #registerForm {
        width: 100%;
    }

    #menuItemForm {
        width: 90%;
    }

    .menuItem {
        width: 100%;
        max-width: none;
    }

    .navMenu ul {
        gap: 5px;
    }

    .navMenu li a {
        letter-spacing: 0;
    }

    .navMenu li {
        padding: 10px;
        margin-bottom: 10px;
    }

    .loginContainer,
    .dashboardContainer {
        margin-top: 30px;
        padding: 20px;
    }

    .menuTitle {
        margin-top: 15px;
    }


}